@using MVC002.PL.ViewModels

@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail">

			<input type="text" asp-for="Email" class="alert-danger" placeholder="Email" required=""/>
			<span asp-validation-for="Email"></span>

			
			<input type="submit" value="Reset Password">
		</form>
		
	</div>
</div>
@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />

}
