@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>Registeration</h1>
<div asp-validation-summary="All"> </div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Register" >
			<input  type="text" asp-for="FirstName" placeholder="First Name"/>
			<span asp-validation-for="FirstName" class="text-danger"></span>
			<br />
			<input type="text" asp-for="LastName" placeholder="Last Name" />
			<span asp-validation-for="LastName" class="text-danger"></span>
			<br />
			<input type="text" asp-for="Email" placeholder="Email Address" />
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<div class="password-container">
				<input type="password" id="password"  asp-for="Password" class="password-input" placeholder="Password" />
				<span asp-validation-for="Password"></span>
			</div>

			<br />
			<div>
				<input type="password" id="confirmpassword" asp-for="ConfirmPassword" class="password-input" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword "></span>
			</div>
			
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox" />
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Already have an Account? <a asp-action="Login"> Login </a></p>
	</div>
</div>
@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />

}

