@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="ResetPassword" >
			<div asp-validation-summary="All"></div>
			<input type="text" asp-for="NewPassword" class="alert-danger" placeholder="Password" required="" />
			<span asp-validation-for="NewPassword"></span>

			<input type="text" asp-for="ConfirmNewPassword" class="alert-danger" placeholder="Confirm New Password" required="" />
			<span asp-validation-for="ConfirmNewPassword"></span>


			<input type="submit" value="Reset Password">
		</form>

	</div>
</div>
@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />

}


