@using MVC002.PL.ViewModels
@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeeViewModel 
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<form asp-action="Details" asp-controller="Employee" class=" btn btn-success"  >


    <partial name="PartialViews/DeleteDetailsPartialView" />



<a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-secondary"> Edit</a>
<a asp-action="Index" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-light"> Back To List</a>
</form>