@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>

<form asp-action="Create"> 
<div class="form-group">
    <label class="col-form-label" asp-for="RoleName"></label>
    <input class="form-control" asp-for="RoleName" />
    <span asp-validation-for="RoleName" class=" text-warning"></span>
</div>

    <a asp-action="Index" asp-controller="Role" class="btn btn-dark"> Back To List </a>
    <input type="submit" value="Add" class="btn btn-primary" />

</form>

