@model RoleViewModel
@{
  ViewData["Title"] = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";}

<h1> View @Model.RoleName Details</h1>
<div class="form-group">
    <label class="col-form-label" asp-for="Id">
        <input readonly class="form-control" asp-for="RoleName" />
    </label>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
<a asp-action="Index" class="btn btn-dark">Back</a>
