@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Edit @Model.RoleName</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label" asp-for="RoleName">
            <input  class="form-control" asp-for="RoleName" />
        </label>
        <input type="submit" value="Save" class="btn btn-dark" />
        <a asp-action="Index" class="btn btn-primary"> Back </a>
</form>