@using MVC002.DAL.Models
@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@model Department

@{ ViewData["Title"] = "Create ";

}
<h1>Create New Department</h1>
<br />
<form asp-action="Create" asp-controller="Departments">
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input class="form-control" asp-for="DateOfCreation" />
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" asp-controller="Departments" class="btn btn-dark"> Back To List </a>
</form>



