@using MVC002.DAL.Models
@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@model Department
@{
    ViewData["Title"] = "Delete";
}

<h3>Are You Sure Deleting @Model.Name Department ?</h3>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">

    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input readonly class="form-control" asp-for="Code" />
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />
    </div>


    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input readonly class="form-control" asp-for="DateOfCreation" />
    </div>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="DeptHome" class="btn btn-secondary">Cancel</a>

</form>


